stages:
  - build
  - package

variables:
  NODE_VERSION: "20"
  IMAGE_NAME: "$CI_REGISTRY_IMAGE"
  IMAGE_TAG: "$CI_COMMIT_SHORT_SHA"
  PNPM_CACHE_FOLDER: .pnpm-store

cache:
  key: 
    files:
      - pnpm-lock.yaml
  paths:
    - .pnpm-store/
    - node_modules/

build:
  stage: build
  image: node:${NODE_VERSION}-alpine
  before_script:
    - npm install -g pnpm
    - pnpm config set store-dir .pnpm-store
  script:
    - pnpm install --frozen-lockfile
    - npx puppeteer browsers install chrome
    - pnpm run check
    - pnpm run build
    - ls -la build/
  artifacts:
    paths:
      - build/
      - node_modules/
      - package.json
      - pnpm-lock.yaml
    expire_in: 1 hour
  rules:
    - if: $CI_COMMIT_BRANCH
    - if: $CI_MERGE_REQUEST_IID

package:
  stage: package
  image: docker:24.0.5
  services:
    - docker:24.0.5-dind
  variables:
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_CERTDIR: "/certs"
    DOCKER_TLS_VERIFY: 1
    DOCKER_CERT_PATH: "$DOCKER_TLS_CERTDIR/client"
  before_script:
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  script:
    - echo $IMAGE_NAME:$DEV_IMAGE_TAG
    - docker build -t $IMAGE_NAME:$IMAGE_TAG .
    - docker build -t $IMAGE_NAME:latest .
    - docker push $IMAGE_NAME:$IMAGE_TAG
    - docker push $IMAGE_NAME:latest
  dependencies:
    - build
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_COMMIT_TAG

package:dev:
  stage: package
  image: docker:24.0.5
  services:
    - docker:24.0.5-dind
  script:
    - echo $IMAGE_NAME:$DEV_IMAGE_TAG
    - docker build -t $IMAGE_NAME:$DEV_IMAGE_TAG .
    - docker build -t $IMAGE_NAME:dev .
    - docker push $IMAGE_NAME:$DEV_IMAGE_TAG
    - docker push $IMAGE_NAME:dev
  dependencies:
    - build
  rules:
    - if: $CI_COMMIT_BRANCH != $CI_DEFAULT_BRANCH
    - if: $CI_MERGE_REQUEST_IID
  when: manual
